{{ form_start(form) }}
<div class="container my-auto">
    <div class="row">
        <div class="col-lg-11 col-md-11 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Create new User</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputEmail">Email</label>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Password</label>
                                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputEmail">Firstname</label>
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Lastname</label>
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputEmail">Description</label>
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputEmail">Position</label>
                                {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                {{ form_widget(form.nationality, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Phone</label>
                                {{ form_widget(form.phone) }}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Birthday</label>
                                {{ form_widget(form.birthday) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Country</label>
                                {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">State</label>
                                {{ form_widget(form.state) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">City</label>
                                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Street</label>
                                {{ form_widget(form.street) }}
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">HausNo</label>
                                {{ form_widget(form.housnumber) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">LinkedIn</label>
                                {{ form_widget(form.linkedIn, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Github</label>
                                {{ form_widget(form.github) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Google</label>
                                {{ form_widget(form.google, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="inputPassword">Facebook</label>
                                {{ form_widget(form.facebook) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-check-label" for="inputPassword">Is Verified
                                    {{ form_widget(form.isVerified) }}
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="btn bg-gradient-primary w-100 my-4 mb-2">{{ button_label|default('Save') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
