{% extends 'base_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <div class="row">
                            <div class="col-10">
                                <h6 class="text-white text-capitalize ps-3">Users ({{ users.getTotalItemCount }})</h6>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-dark btn-sm mb-0 me-3" href="{{ path('app_user_new') }}">
                                    <i class="material-icons-round">add</i> New User
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ knp_pagination_sortable(users, 'Name', 'u.firstName') }}</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{ knp_pagination_sortable(users, 'Email', 'u.email') }}</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Active</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2">
                                            <div>
                                {% if user.avatar %}
                                <img src="{{ asset(user.avatar) }}" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                            {% else %}
                                <img src="{{ asset('uploads/users/images/' ~ user.photo) }}" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                                   {% endif%}
                                                    </div>
                                            <div class="my-auto">
                                                <h6 class="mb-0 text-sm">{{ user.firstName }} {{ user.lastName }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{ user.email }}</p>
                                    </td>
                                    <td>
                                        <span class="text-xs font-weight-bold">{{ user.isVerified }}</span>
                                    </td>
                                    <td class="align-middle">
                                        <a class="btn btn-link text-secondary mb-0" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v text-xs"></i>
                                        </a>
                                        <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4 dark-version" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item border-radius-md" href="{{ path('app_user_show', {'id': user.id}) }}">Show</a></li>
                                            <li><a class="dropdown-item border-radius-md" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="23">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ knp_pagination_render(users, 'utils/pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}